
html[data-theme='light'] {
  --main-background: white;
  --header-background: #ffffffe1;
  --service-background: #fbfaff;

  --main-text-color: black;

  --switch-background: #eeebff;
  --theme-background: white;

  --title-border-color: #4824ff30;

  --main-elements-color: #eeebff;
  --elements-color: #eeebff;
  --elements-text-color: white;

  --tag-text-color: #4824ff;
  --selected-tag-background: #04001a;
}

html[data-theme='dark'] {
  --main-background: #04001a;
  --header-background: #04001ae1;
  --service-background: #060026;

  --main-text-color: white;

  --switch-background: #120940;
  --theme-background: #4824ff;

  --title-border-color: #eeebff25;

  --main-elements-color: #4824ff;
  --elements-color: #080033;
  --elements-text-color: black;

  --tag-text-color: white;
  --selected-tag-background: white;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Onest";
  src: url("../public/Onest.ttf");
  src: url("../public/Prata.ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-background);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header{
  margin-left: -5vw;
  margin-right: -5vw;
  position: fixed;
  width: 90vw;
  padding: 0 5vw 0 5vw;
  background: var(--header-background);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.menu{
  height: 100px;
  width: 50vw;
  align-content: center;
 }

header a{
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}



header a:hover{
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

.header-buttons{
  display: flex;
  gap: 20px;
}

.btn{
  position: relative;
  height: 55px;
  width: 165px;
  border-radius: 55px;
  background: #4824ff;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover{
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.btn:before{
  content: "";
  position: absolute;
  height: 250px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}


.btn:hover:before{
  transform: rotate(-20deg) translateX(200px);
}

.icon{
  height: 55px;
  border-radius: 50%;
  background: var(--main-text-color);
  cursor: pointer;
  transition: 0.3s;
  margin-right: 2%;
}

.icon.telegram.light,
.icon.telegram.dark:hover {
  content: url("../public/icons/telegram.png");
}

.icon.telegram.dark,
.icon.telegram.dark:hover {
  content: url("../public/icons/telegram-black.png");
}

.icon.instagram.light,
.icon.instagram.dark:hover {
  content: url("../public/icons/instagram.png");
}

.icon.instagram.dark,
.icon.instagram.dark:hover {
  content: url("../public/icons/instagram-black.png");
}

.icon:hover{

  filter: invert();

}

.switch{
  width: 105px;
  height: 55px;
  border-radius: 55px;
  background-color: var(--switch-background);
  border: 1px solid var(--main-elements-color);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.theme{
  margin: 2px;
  width: 51px;
  height: 51px;
  border-radius: 55px;
  background-color: var(--theme-background);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.theme.light{
  content: url("../public/icons/sun.png");
}

.theme.dark{
  content: url("../public/icons/moon.png");
}

/*------------------------------------------------------------*/
.welcome-block{
  height: 800px;
  display: flex;
  place-items: center;
  margin-top: 10px;
  background: var(--main-background);
}

.welcome-block h1{
  font-size: 52px;
 }

.welcome-block h2{
  font-size: 52px;
  font-weight: 450;
}

.welcome-block h3{
  font-size: 30px;
  font-weight: 300;
}


.title{
  background: linear-gradient( to right, #4824ff, #4824ff,
  #85ebff, var(--main-elements-color), #85aeff,#4824ff, #4824ff);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {background-position: 200% 50%}
  100% {background-position: 0 50%}
}
.welcome-block .first-block{
  align-content: center;
  width: 55%;
}

.logo {
  width: 45%;
  margin-top: -3%;
  margin-left: 400px;
}

/*------------------------------------------------------------*/

.service-block{
  height: 500px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
  background: var(--service-background);
  align-content: center;
}


.service-block .tag{
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: var(--main-elements-color);
  color: var(--tag-text-color);
  margin: 0 12px 0 0;
  padding: 8px 22px 8px 8px;
  border-radius: 24px;
}

.portfolio-block{
  height: 740px;
}


.portfolio-block .first-block{
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-block .main-title{
  font-size: 56px;
  font-family: "Prata";
  font-weight: 500;
  background: linear-gradient( to right, var(--main-text-color), #4824ff);
  color: transparent;
  background-clip: text;
}

.portfolio-block .array-icon{
  margin: 0 20px;
  padding: 0;
  width: 75px;
  filter: drop-shadow(20px 20px 15px #4824ff25);
}



.portfolio-block .title-border{
  font-size: 56px;
  font-family: "Prata";
  font-weight: 500;
  color: var(--main-background);
  margin: 10px 0;
  text-shadow:
          -1px -1px 0 var(--main-text-color),
           1px -1px 0 var(--main-text-color),
          -1px  1px 0 var(--main-text-color),
           1px  1px 0 var(--main-text-color),;
}



.gradient-part-one{
  position: absolute;
  background: linear-gradient( to right, transparent, var(--main-background));
  color: transparent;
  height: 70px;
  width: 100px;
}

.gradient-part-two {
  position: absolute;
  background: linear-gradient( to left, transparent, var(--main-background));
  color: transparent;
  height: 70px;
  width: 100px;
}


.portfolio-block .tag{
  display: flex;
  font-size: 20px;
  font-weight: 500;
  background: var(--elements-color);
  color: #4824ff;
  margin: 0 12px 0 0;
  padding: 8px 22px 8px 22px;
  border-radius: 24px;
  border: 1px solid var(--elements-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.portfolio-block .tag:hover{
  background: var(--selected-tag-background);
  color: var(--elements-color);
  filter: drop-shadow(0px 0px 30px #4824ff25);
}

.portfolio-block .selected{
  background: #04001a;
  color: white;
  border: 1px solid #4824ff;
}

/*------------------------------------------------------*/

.review-block{
  margin: 80px 0;
  height: 580px;
  background: #4824ff;
  border-radius: 28px;
}


.review-block h1{
  color: white;
  text-align: center;
  padding-top: 36px;
  font-size: 50px;
}

.review-block .description{
  color: white;
  text-align: center;
  margin-top: -12px;
  font-size: 22px;
  line-height: 32px;
}

.review-block .selecting{
  background: white;
  color: black;
  margin: 0 8px;
  font-weight: 500;
}

.review-carausel{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1260px;
}

.review-container{
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow: hidden;
}



.next-button .array-next-icon{
  content: url(../public/icons/arrow-next.png);
  scale: 0.6;
  height: 90px;
  border-radius: 50%;
  background-color: white;
}

.next-button:hover .array-next-icon{
  filter: invert(100%);
  cursor: pointer;
}

.review-card{
  min-width: 420px;
}


.review-content{
  height: 230px;
  width: 384px;
  background: var(--elements-text-color);
  border-radius: 24px;
  margin: 0 18px;
}

.review-block .review{
  margin-top: auto;
  font-size: 19px;
  line-height: 27px;
  width: 90%;
}

.review-block .link{
  display: flex;
  height: 40px;
  width: 40px;
  background: black;
  border-radius: 24px;
  cursor: pointer;
  border: 2px solid black;
  transition: 0.5s ease-in-out;
}

.review-block .link:hover{
  border: 2px double #4824ff;
  filter: drop-shadow(0px 0px 25px #4824ff);
}

.review-block .telegram-icon{
  margin: -7px -4px;
  padding: 5px;
  position: relative;
  content: url(../public/icons/telegram-blue.png);
  background: none;
  scale: 0.84;
  height: 40px;
  border-radius: 50%;

}

/*------------------------------------------------------*/


.guarantees-block{
  height: 540px;
  font-size: 26px;
}

.guarantees-points{
  list-style-type: none;
  padding-left: 20px;
}

.guarantees-points li{
  position: relative;
  padding-left: 60px;
}

.guarantees-points li:before{
  content: '';
  position: absolute;
  left: 0;
  transform: translateY(-10%);
  width: 50px;
  height: 50px;
  background-image: url(../public/icons/mark.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -20px;
  margin-top: -5px;
}

.point{
  margin-top: 35px;
}


/*------------------------------------------------------*/

.footer{
  height: 80px;
  text-align: center;
  font-size: 18px;
  border-top: 1px solid var(--elements-text-color);
  margin-left: -5vw;
  margin-right: -5vw;
  align-content: center;
}

/*------------------------------------------------------*/


.btn-up{
  position: fixed;
  right: 5vw;
  bottom: 6vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s linear;
  animation: appearance 2s forwards;
  border: none;
  opacity: 0;
  transform: translateY(0px);
  background: transparent;
}


@keyframes appearance {
  0% {opacity: 0; transform: translateY(40px) }
  100% {opacity: 1; transform: translateY(0px); }
}


.btn-up:before{
  content: "";
  transform: rotate(180deg);
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
  background-image: url(../public/icons/array.png);
}